body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#firstRowHight{
  max-height: 600px;min-height: 300px;
}
#addStudent{
  max-width: 12rem;
}
#addSContainer{
  margin-left: 15%;
}
#studentImage{
  max-width: 22rem;
}
#studentImageSmall{
  max-width: 10rem;
  margin-left:45%;
}
#footerApp{
  margin-top: 20%;
}
#addSButton{
  margin-left: 21%;
  margin-top: 5%;
}
